<h3> Reservations for today </h3>
<table>
	<!-- refactor to handle other days> -->
	<th>Time</th> 
	<th>Reserver</th>
	<% for i in 0..23 %>
		<tr>
			<td><%= "#{i} - #{i+1} " %> </td>
			
			<td>Free </td>
	
	<% end %>
	<p>	   
</table>