<h3> Reservations for today </h3>
<table>
	<!-- refactor to handle other days> -->
	<th>Time</th> 
	<th>Reserver</th>
	<% @reservations.each do |reservation| %>
	
		<tr>
		<td><%= reservation.starttime.to_s %></td>
		<td><%= reservation.user.name %></tr>
		</tr>
		
		
		<% end %> 
	<p>	   
</table>